
@use "../../styles/colors"as v;
@use "../../styles/mixins";

.contatos {
  width: 100%;
  min-height: 85vh;
  @include mixins.flex-column-center;
  gap: 16px;
}

.icones {
  width: 100%;
  @include mixins.flex-center;
  gap: 32px;
  padding-block: 16px;
}

.icone {
  font-size: 40px;
  color: v.$color-red;
  transition: 0.3s ease;

  &:hover {
    color: v.$color-primary;
  }
}

@media (max-width: 768px){
  .contatos {
    text-align: center;
    padding-inline: 20px;
  }
}

@media (max-width: 480px){
  .contatos {
    .icones {
      gap: 8px;
    }
  }
}