
@use "../../styles/colors"as v;
@use "../../styles/mixins";

.contatos {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.icones {
  width: 100%;
  @include mixins.flex-center;
  gap: 32px;
  padding-block: 16px;
}

.icone {
  font-size: 40px;
  color: v.$color-red;
  transition: 0.3s ease;

  &:hover {
    color: v.$color-primary;
  }
}


// @media (min-width: 768px) {
//   .contatos {
//     gap: 24px;
//   }

//   .icones {
//     justify-content: space-evenly;
//     padding-block: 24px;
//   }

//   .icone {
//     font-size: 48px;
//   }
// }
