
// Cores

$color-primary: #1A2B4C;
$color-secondary: #0F3460;
$color-tertiary: #533483;
$color-red: #E94560;
$color-soft-white: #f1f1f1;
$color-white: #f8f8f8;
$color-black: #111;
$color-gray: #222222;


