
// Cores

$color-primary: #16213E;
$color-secondary: #0F3460;
$color-tertiary: #533483;
$color-red: #E94560;
$color-soft-white: #f1f1f1;
$color-white: #fefefe;
$color-black: #111;
$color-gray: #222222;

// Fontes

$font-primary: 'Roboto',sans-serif;