

.home {
    width: 100%;
    min-height: 90vh;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home img {
    height: 500px;
}

.home p {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

.home span {
    color: var(--red);
    
}

.btn {
    width: 250px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
    border: 0;
    border-radius: 8px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn_red {
    background-color: var(--red);
    color: var(--white);
}

.btn_red:hover {
    background-color: var(--colorPrimary);
}

@media(max-width: 768px){
    .home {
        flex-direction: column;
        padding-block: 30px;
        
    }  

}

@media (max-width: 468px) {
    .home p {
        font-size: 32px;
    }

    .home img {
        max-width: 100%;
        height: auto;
        padding-inline: 40px;
    }

   
}


