
.card {
    width: 300px;
    height: 300px;
    background-color: var(--softWhite);
    color: var(--gray);
    border-radius: 8px;
    box-shadow: 5px 5px 10px #22222270;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card h3 {
    color: var(--colorPrimary);
}

.card p {
    color: #555;
    margin-top: 20px;
    
}

.card_footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_icones {
    display: flex;
    gap: 10px;
    color: var(--red);
    font-size: 24px;
}

.card_botao {
    width: 80px;
    height: 80px;
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary);
    color: var(--white);
    
}

.card_botao:hover {
    color: var(--red);
    transition: all 0.5s;
}

