
.header {
    width: 100%;
    height: 50px;
    background-color: var(--colorPrimary);
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
}

.header span {
    font-size: 24px;
    font-weight: bold;
}

.header a {
    text-decoration: none;
    color: var(--white);
    padding-right: 24px;
    font-size: 18px;
}

.header a:hover {
    color: var(--red);
}

/* Menu Sandwich */
@media(max-width: 768px){

        .menuButton {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 20px;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
        
        .linha {
            display: block;
            width: 100%;
            height: 2px;
            background-color: white;
        }

        .menuSandwich {
            display: none;
        }

        .show {
            display: flex;
        }
        
    
}

