@use "../../styles/colors" as v;

.sobre {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 40px;

    .bio {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;

        span {
            color: v.$color-red;
            font-weight: bold;
        }

        strong {
            color: v.$color-secondary;
            font-weight: bold;
        }

        .Foto {
            width: 200px;
            // max-width: 200px;
            height: 200px;
            border-radius: 50%;
            // display: block;
            // margin: 0 auto;
            // margin-bottom: 60px;
        }


    }

    .textos {
        width: 100%;
        text-align: center;
        padding-inline: 20px;
        line-height: 1.5;



        h2,
        p {
            margin-bottom: 16px;
        }
    }



    .techs {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        .icones {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;

            .icone {
                font-size: 40px;
                color: v.$color-secondary;
                height: 40px;
            }
        }
    }
}


@media (max-width: 768px){
    .sobre {
        .bio {
        flex-direction: column;
        padding-inline: 20px;
        gap: 16px;

        .Foto {
            max-width: 50%;
        }
    }
}
    }
    

@media (max-width: 480px){
    .sobre {
        .icones {
            gap: 8px;
        }
    }
}



// @media(max-width: 768px){
//     .bio {
//         flex-direction: column;
//         padding-inline: 20px;
//         gap: 16px;

//         .Foto {
//         max-width: 50%;
//     }

//     }
    
// }


// @media (min-width: 1024px) {
//    .bio {
//       gap: 40px;

//       .Foto {
//         max-width: 300px;
//       }
//    }
//   }
