
@use "../../styles/colors" as v;
@use "../../styles/mixins";


.footer{
    width: 100%;
    height: 50px;
    background-color: v.$color-primary;
    color: v.$color-white;
    font-weight: bold;
    font-size: 18px;
    @include mixins.flex-center;
    position: fixed;
    bottom: 0;
}

@media (min-width: 768px){
    .footer {
        font-size: 16px;
    }
}


