.container {
    width: 100%;
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container img {
    width: 100%;
    max-width: 250px;
    margin-top: 16px;
    height: auto;
}

.container p {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 16px;
}

.container span {
    color: #E94560;
}

.btn {
  width: 100%;
  max-width: 220px;
  height: 48px;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btn-red {
    background-color: #E94560;
  color: #f8f8f8;
  
}

.btn-red:hover{
    background-color: #6c63ff;
}